@model TextMatch.UI.Web.Models.Home.GetSubTextPositionsViewModel

<div class="form-group">
	@Html.LabelFor(x => x.Text)
	@Html.TextBoxFor(x => x.Text, new { @class = "form-control col-md-12", placeholder = "enter text to search in" })
	@Html.ValidationMessageFor(x => x.Text)
</div>

<div class="form-group">
	@Html.LabelFor(x => x.SubText)
	@Html.TextBoxFor(x => x.SubText, new { @class = "form-control", placeholder = "enter text to search for" })
	@Html.ValidationMessageFor(x => x.SubText)
</div>
